/**
Layout definitions
*/

* {
   margin: 0;
   padding: 0;
}

div {
   border: 0px #efefef dotted;
}

#start-screen {
   position: absolute;
   left: 55px;
   top: 55px;
   z-index: 1000;
}

#start-screen-text {
   width: 500px;
}

#start-button{
   width: 90px;
   height:40px;
}

#main-container{
   width:1200px;
   height:650px;   
   margin: auto;
   margin-top: 45px;
   position: relative;
}

#sidebar {
   width: 300px;
   height: 650px;
   position: absolute;   
}

#map-container {
   width: 900px;
   height: 650px;
   position: absolute;
   left: 300px;
}

#country-form{
   position: absolute;
   top: 50px;
   left: 42px;
}

#country-field{
   border: none;
   height: 55px;
   width: 245px;
   top: 50px;
}

:focus{
   outline: 0;
}

/**
Style definitions
*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D8CDC5;
  font-weight: 200;
  font-style: italic;
}

::-moz-placeholder { /* Firefox 19+ */
   color: #D8CDC5;
  font-weight: 200;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #D8CDC5;
  font-weight: 200;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: #D8CDC5;
  font-weight: 200;
  font-style: italic;
}


body {
   background-color: #CABBB0;
}

#content-header {
   border-bottom: 1px solid #666666;
}

#start-button {
   background-color: #000000;
   border: none;
   color:#CABBB0 ;
   /*padding: 15px 32px;*/
   text-align: center;
   display: inline-block;
   margin: 4px 2px;
   cursor: pointer;
   margin-left: 45px;
   font-family: "Fira Sans", sans serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.85;
   opacity: 1.00;
   letter-spacing: 2.00px;
   word-spacing: 2.00px;
   text-transform: uppercase;

}

#start-screen-text{

   margin-top: 45px;
   margin-left: 45px;
   font-family: "Sentinel", serif;
   font-size: 23px;
   font-weight: 200;
   line-height: 1.30;
   opacity: 1.00;
   margin-top: 0px;
   margin-bottom: 10px;
   letter-spacing: -0.20px;
   word-spacing: -0.40px;
   text-transform: none;
   
}

.circle {   
   fill: #CABBB0;   
}

.circle-selected {
   opacity: 1.0;
}

.circle-deselected {
   opacity: 0.35;
}

.color-AR { fill: #FD773A; }
.color-AU { fill: #FC793B; }
.color-BR { fill: #FB7B3C; }
.color-UK { fill: #FA7C3D; }
.color-CA { fill: #F97E3E; }
.color-CL { fill: #F8803F; }
.color-CN { fill: #F78240; }
.color-CO { fill: #F68341; }
.color-CR { fill: #F58542; }
.color-CZ { fill: #F48743; }
.color-DK { fill: #F38944; }
.color-EG { fill: #F18A44; }
.color-EU { fill: #F08C45; }
.color-HK { fill: #EF8E46; }
.color-HU { fill: #EE8F47; }
.color-IN { fill: #ED9148; }
.color-ID { fill: #EC9349; }
.color-IL { fill: #EB954A; }
.color-JP { fill: #EA964B; }
.color-LV { fill: #E9984C; }
.color-LT { fill: #E89A4D; }
.color-MY { fill: #E99C4C; }
.color-MX { fill: #EA9D4B; }
.color-NZ { fill: #EB9F4A; }
.color-NO { fill: #EDA149; }
.color-PK { fill: #EEA248; }
.color-PE { fill: #EFA447; }
.color-PH { fill: #F0A646; }
.color-PL { fill: #F1A745; }
.color-RU { fill: #F2A944; }
.color-SA { fill: #F4AB43; }
.color-SG { fill: #F5AC42; }
.color-ZA { fill: #F6AE41; }
.color-KR { fill: #F7AF40; }
.color-LK { fill: #F8B13F; }
.color-SE { fill: #F9B33E; }
.color-CH { fill: #FAB43D; }
.color-TW { fill: #FCB63C; }
.color-TH { fill: #FDB83B; }
.color-TR { fill: #FEB93A; }
.color-AE { fill: #FFBB39; }
.color-UA { fill: #FCBC39; }
.color-US { fill: #FBBC39; }
.color-UY { fill: #F9BC39; }
.color-VE { fill: #F8BD39; }
.color-VN { fill: #F6BD39; }
.color-AT { fill: #F5BD39; }
.color-BE { fill: #F3BE39; }
.color-EE { fill: #F2BE3A; }
.color-FI { fill: #F1BE3A; }
.color-FR { fill: #EFBF3A; }
.color-DE { fill: #EEBF3A; }
.color-GR { fill: #ECBF3A; }
.color-IE { fill: #EBC03A; }
.color-IT { fill: #E9C03A; }
.color-NL { fill: #E8C03A; }
.color-PT { fill: #E5C13A; }
.color-ES { fill: #E9CE3A; }

/**
Font definitions
*/

html {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

input {
   background-color: transparent;
}

.title {
   font-family: "Fira Sans", sans serif;
   font-size: 21px;
   font-weight: 200;
   line-height: 1.85;
   opacity: 1.00;
   margin-top: 0px;
   margin-bottom: 10px;
   letter-spacing: -0.50px;
   word-spacing: -0.40px;
   text-transform: none;
}

.headline{
   font-family: "Fira Sans", sans serif;
   font-size:42px;
   font-weight: 400;
   line-height: 1.85;
   opacity: 1.00;
   margin-top: 0px;
   margin-bottom: 10px;
   letter-spacing: -1.75px;
   word-spacing: -0.70px;
   text-transform: none;
}

.headline-bold{
   font-family: "Fira Sans", sans serif;
   font-size:42px;
   font-weight: 400;
   line-height: 1.85;
   opacity: 1.00;
   margin-top: 0px;
   margin-bottom: 10px;
   letter-spacing: -1.75px;
   word-spacing: -0.70px;
   text-transform: none;
}
.descripton{
   font-family: "Sentinel", sans serif;
   font-size:16px;
   fill: #CABBB0;
   font-weight: 400;
   line-height: 1.85;
   opacity: 1.00;
   margin-top: 0px;
   margin-bottom: 10px;
   letter-spacing: 0.30px;
   word-spacing: -0.40px;
   text-transform: none;
}
